/* Homepage */

/* Sushi-master img */
.sushi-master {
  text-align: center;
}
.sushi-master img {
  width: 80%;
  margin-top: 50px;
}

/* nav */
nav{
  text-align: center;
  }
  nav ul{
  margin: 0 ;
  padding: 0 ;
  }
  nav ul li{
  list-style: none;
  display: inline-block;
  width: 18%;
  min-width: 90px;
  }
  nav ul li a{
  text-decoration: none;
  color: #333;
  }
  nav ul li.current a{
  color: #F33135;
  }
  nav ul li a:hover{
  color: #E7DA66;
  }


  /* Order button */
  .button {
    text-align: center;
  }

  .btn-flat-simple {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding-top: 20px;
    text-decoration: none;
    color: #00BCD4;
    background: #ECECEC;
    transition: .4s;
    margin-top: 50px;
    width : 200px;
    height: 40px;
  }
  
  .btn-flat-simple:hover {
    background: #00bcd4;
    color: white;
  }

  /* Estimate */
  .estimate {
    text-align: center;
  }

  /* form */
  form {
    text-align: center;
  }
  input {
    width: 300px;
  }

  .btn-flat-simple-time {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding-top: 8px;
    text-decoration: none;
    color: #00BCD4;
    background: #ECECEC;
    transition: .4s;
    margin-top: 50px;
    width : 150px;
    height: 30px;
  }
  
  .btn-flat-simple-time:hover {
    background: #00bcd4;
    color: white;
  }

  .time-time {
    display: flex;
    justify-content: center;
  }

  .time-time h3{
    margin-right: 40px;
    margin-top: 30px;
  }

  .time-time h1{
    margin-right: 40px;
  }

  /* NEWS */
  .news-title{
    text-align: center;
  }
.big-news {
  display: flex;
  margin-top: 50px;
}

.small-news {
margin: 20px;
}

.big-news img {
  width: 100%;
}

.big-news p{
  text-align: center;
}

/* Orderpage--------------------------------------------------------- */
table {
  border-collapse: collapse;
  margin: 50px auto;
}

.table-order {
  text-align: center;
}

table td,th{
  border: solid 1px black;
}

/* pay button */
.button-pay {
  text-align: center;
}

.btn-flat-simple-pay {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding-top: 8px;
  text-decoration: none;
  color: #00BCD4;
  background: #ECECEC;
  transition: .4s;
  margin-top: 50px;
  width : 150px;
  height: 30px;
  text-align: center;
  
}

.btn-flat-simple-pay:hover {
  background: #00bcd4;
  color: white;
}

.paypay {
  
 text-align: center;
}

.paypay img {
  width: 150px;
}